
@import "~mdb-ui-kit/css/mdb.min.css";

.symptom-column{
    // background-color: rgba(166, 255, 0, 0.466);
    
}
.medication-column{
    // background-color: #D3D3D3;
    
    height: 100vh;
    overflow-y: auto;
}
.chart-column{
    background-color: rgba(255, 5, 5, 0.507) ;
    
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .dashboard-wrapper{
    // background-color: var(--blue-crayola);
    height: 100%;
    // display: flex;
    
  }