@import "~mdb-ui-kit/css/mdb.min.css";
.med-and-symptom-row{
    // background-color: var(--quick-silver);
    height: 100vh;
    
}
.your-medications-box{
    border-right: 1px solid gray;
    // background-color: #D3D3D3;
    // height: 100%;
    // border: 2px solid var(--cyan-process);
    
    // overflow-y: auto;

}
.your-symptoms-box{
    border-right: 1px solid gray;
    // background-color: #D3D3D3;
    // height: 100%;
    // border: 2px solid var(--cyan-process);
    
}
.charts-row{
//     background-color: #D3D3D3;
//     height: 50vh;
//     border: 2px solid var(--cyan-process);
}
.linear-bg{
    // background: linear-gradient(10deg, rgba(0,69,195,1) 0%, rgba(47,113,232,1) 50%, rgba(0,38,106,1) 100%);

}