@import "~mdb-ui-kit/css/mdb.min.css";
.med-and-symptom-row{
    // background-color: var(--quick-silver);
    height: 50vh;
    
}
.your-medications-box{
    background-color: rgb(141, 141, 141);
    height: 100%;
    border: 2px;
    border-color: var(--cyan-process);
    overflow-y: auto;

}
.your-symptoms-box{
    background-color: rgb(65, 65, 65);
    height: 100%;
    border: 2px;
    border-color: var(--cyan-process);
}
.charts-row{
    background-color: rgb(17, 17, 63);
    height: 50vh;
    border: 2px;
    border-color: var(--cyan-process);
}
.linear-bg{
    background: linear-gradient(10deg, rgba(0,69,195,1) 0%, rgba(47,113,232,1) 50%, rgba(0,38,106,1) 100%);

}