.auto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 5px;
}

.option:hover > * {
  background-color: rgb(184, 222, 253);
}

.option,
span {
   
    text-transform: capitalize;
}
.feature-box{
  height: 90%;
  background-color: whitesmoke;
  border-radius: 20px;
}
.section-row{
    background-color: rgb(70, 154, 182);
    padding: 20px;
    border-radius: 20px;
}
img{
  max-width: 100%;
  max-height: 100%;
}