.auto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 5px;
}

.option:hover > * {
  background-color: rgb(238, 255, 198);
}

.option,
span {
   
    text-transform: capitalize;
}