
@import "~mdb-ui-kit/css/mdb.min.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
  --rich-black-fogra: #111213ff;
  --eerie-black: #212224ff;
  --quick-silver: rgb(201, 201, 201);
  --quick-silver-two: #a1a1a180;
  --white: #ffffff;
  --blue-crayola: #2f71e8ff;
  --cyan-process: #29b9f0ff;
  --cyan-process-two: #29b9f080;
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--cyan-process); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0376a3; 
}
}
.signup-box {
  background-color: white;
  height: 59vh;
  width: 50vw;
}
body {
    
    // background: #67676771 !important; 
    
    
    background-image: url("../img/bg.jpg");
    
    
    background-size: cover;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    // margin-top: 100px;
}

a {
    color: rgb(98, 99, 100);
}

a:hover {
    color: rgb(98, 99, 100);
}

.section-title {
    color: white;
    text-shadow: 2px 2px 6px black;
}
// .landing-page-container{
//   margin-top: 100px;
// }
// header {
//   height: 50vh;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: 30px;
//   flex-direction: column;
//   color: white;
// }
footer {
  // background: url(../img/2650401.jpg) no-repeat center center fixed;
  background: #F0F0F0;
  background: -moz-linear-gradient(45deg, #F0F0F0 0%, #C3DCE8 43%, #F0F0F0 100%);
  background: -webkit-linear-gradient(45deg, #F0F0F0 0%, #C3DCE8 43%, #F0F0F0 100%);
  background: linear-gradient(45deg, #F0F0F0 0%, #C3DCE8 43%, #F0F0F0 100%);
  border: 5px outset #29b9f080;
    border-radius: 0px 40px 0px 40px;
}



.about-title {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  // background: url(../img/dr-and-patient.jpg) no-repeat center center fixed;
}
.about-card {
  width: 70%;
}
.about-card > div > p {
  font-size: 16px;
}
.about-pages {
  width: 50%;
  flex: 1;
  background: rgba(9, 158, 204, 0.5);

  display: flex;
  // : column;flex-direction
}
.about-pages > div {
  height: 100vh;
  display: flex;
  // flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.about-pages > div > p {
  width: 80%;
  font-size: 18px;
  line-height: 30px;
}
.card-img-top {
  width: 100%;
  // height: 10vw;
  object-fit: cover;
}
.form-wrapper {
  height: 40vh;
  width: 30vw;
}
.hero-bg{
  background: #29B9F0;
  background: -moz-linear-gradient(45deg, #29B9F0 0%, #2F71E8 43%, #29B9F0 100%);
  background: -webkit-linear-gradient(45deg, #29B9F0 0%, #2F71E8 43%, #29B9F0 100%);
  background: linear-gradient(45deg, #29B9F0 0%, #2F71E8 43%, #29B9F0 100%);
    
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  border: 5px outset #29b9f080;
  border-radius: 0px 40px 0px 40px;
}
.logo-img{
  border-radius: 50%;
  height: 250px;
  
}

.card {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 11px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    border-radius: 0% !important;
    color: rgb(48, 47, 47);
}

.card-header {
    background: rgb(47, 113, 232);
    color: white;
}

.detailed-visit .card {
    color: rgb(48, 47, 47) !important;
}

.detailed-visit .card-header {
    background: white !important;
    color: rgb(48, 47, 47) !important;
}

.list-group {
    box-shadow: 1px 1px 5px gray;
}

.detailed-visit table {
  color: rgb(48,47,47);
}
.detailed-visit tr {
  color: rgb(48,47,47);
}
.detailed-visit th {
  color: rgb(48,47,47);
}
.detailed-visit td {
  color: rgb(48,47,47);

}

.modal-content {
    color: #676767;
}

table{
  color: white;
}
tr{
  color: white;
}
th{
  color: white;
}
td{
  color: white;

}
.signup-box{
  width: 60vw;
  height: 60vh;
}
.modal-body, .modal-header, .modal-footer{
  color: black;
}
.chartjs-render-monitor{
  width: 100%;
  height: 30vh;
}

.chartjs-size-monitor canvas {
    height: 300px !important;
}

.rounded-img{
  border-radius: 10px;
  
  box-shadow: -1px 0px 15px 5px rgba(94, 94, 94, 0.6);
  object-fit: cover;
  height: 100%;
  margin: 20px;
}
h1{
  color: #7151ff;
}