/* 
    General Styles
*/
@import "~mdb-ui-kit/css/mdb.min.css";
body {
  background: url(../img/triangle_background11.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
