.react-tabs__tab--selected{
    background-color: rgb(125, 229, 255) !important;
    transition: background-color 0.5s linear;
}
.note-wrapper{
    border: 1px solid blue;
    background-color: cornsilk;
}
.card{
    color: black;
}