.react-tabs__tab--selected{
    background-color: rgb(125, 229, 255) !important;
    transition: background-color 0.5s linear;
}
.note-wrapper{
    border: 1px solid blue;
    background-color: lightgray;
    border: none;
}
.card{
    color: black;
    -webkit-box-shadow: 1px 3px 15px 5px rgba(0,0,0,0.49); 
box-shadow: 1px 3px 15px 5px rgba(0,0,0,0.49);
}
